# jupyter notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore generated models, test images, and Darknet files.
*.h5
*.weights
*.png
*.jpg
*.cfg
images/*
images/out/*